
.footer{
border-top:1px solid rgba(255,255,255,.08);
padding:80px 0;
}

.footer-links{
display:flex;
gap:24px;
margin:24px 0;
flex-wrap:wrap;
}

.footer a{
color:var(--primary);
transition:var(--transition);
}

.footer a:hover{
opacity:.8;
}
